body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.main-info {
    background: #333;
    color: #fff;
    padding: 20px;
}
.main-info h1 {
    margin: 0;
    text-align: center;
}
.sprint-info h2 {
    margin: 0;
    text-align: center;
}
.sp1, .sp2, .sp3, .sp4,.sp5,.sp6 {
    background: #e7e7e7;
    padding: 15px;
    margin-bottom: 10px;
}